
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding-top: 70px; /* Add padding to the top of the body */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}